{require_otp_vsn, "R13B04|R14"}.
{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.

%{erl_first_files, ["src/riak_rabbitmq.erl"]}.

{deps, 
  [
    {amqp_client, ".*", {git, "https://github.com/jbrisbin/amqp_client.git", "master"}},
    {riak_kv, ".*", {git, "https://github.com/basho/riak_kv.git", "master"}}
  ]}.